{"ops:world-patent-data":{"@xmlns":{"ops":"http://ops.epo.org","$":"http://www.epo.org/exchange","xlink":"http://www.w3.org/1999/xlink"},"ops:meta":{"@name":"elapsed-time","@value":"5"},"exchange-documents":{"exchange-document":{"@system":"ops.epo.org","@country":"EP","@doc-number":"","@status":"not found","bibliographic-data":{"publication-reference":{"document-id":{"doc-number":{"$":"not found"}}},"application-reference":{"document-id":{"@document-id-type":"epodoc","doc-number":{"$":"EP1452484"}}},"parties":{}}}}}}